/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/
Makefile
*.o
*.a
*.so
*.d
*.swp
.DS_Store
simv
simv.daidir/
csrc/
ucli.key
DVEfiles/
obj_dir/
AN.DB/
*.vcd
*.vpd
*.fsdb
