/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/
Makefile
*.o
*.a
*.so
*.d
*.swp
.DS_Store
simv
simv.daidir/
csrc/
ucli.key
DVEfiles/
obj_dir/
AN.DB/
*.vcd
*.vpd
*.fsdb
build_*/
local_debug/
rtl/local_debug/
command.log
default.svf
rtl/dc/runs/
alib-*/
rtl/dc/.latest_*
rtl/dc/.reference_*
rtl/dc/dc_status_latest.txt*
rtl/dc/dc_status_monitor*.log
rtl/dc/dc_status_monitor.pid
rtl/dc/dc_status_schedule.log
rtl/dc/dc_status_schedule.pid
